<%- include('partials/header'); -%>

<main class="container">
  <div class="main__img-wrapper">
    <img id="img-fruites" src="/images/fruites.png" alt="" />
  </div>

  <div class="main__menu grid-container">
    
  </div>
  <div class="menu__cart">
    <a class="menu__cart-icon btn" href="/cart"><i style="color: var(--clr-rose);" class="fa-solid fa-cart-shopping"></i></a>
    <span class="menu__selected-items-count">0</span>
  </div>

</main>


<script src="/js/home.js"></script>
