<%- include('partials/header'); -%>

<link rel="stylesheet" href="/styles/components/order.css">
<div class="order container">
    <table class="order__table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Amt.</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th>Track Order</th>
            </tr>
        </thead>

        <tbody class="order__tbody">
         
        </tbody>
    </table>
</div>

<script src="/js/order.js"></script>