.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 2em;
}

.header__menu > li > a {
    font-size: var(--size-base);
    font-weight: 600;
}